.rocketItem {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.container {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.container:nth-child(even) {
  border-bottom: 2px solid lightgray;
}

.container:last-child {
  border-bottom: none;
}
