.cardContainer,
.rocketDescription {
  margin-bottom: 1rem;
}

.cardContainer,
.descriptionContainer {
  display: flex;
}

.cardContainer {
  justify-content: flex-start;
}

.rocketImage {
  width: 200px;
}

.rocketName {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.rocketDescription {
  font-size: 14px;
  font-weight: 400;
}

.infoContainer {
  width: 100%;
  margin-left: 1rem;
}

.reserveButton,
.cancelReservationButton {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.reserveButton {
  background-color: #007bff;
  border: none;
  color: #fff;
}

.reserveButton:hover {
  background-color: #0156b1;
}

.cancelReservationButton {
  background-color: #fff;
  border: 1px solid #363636;
  box-shadow: -1px 1px 2px 0 #363636;
  color: #363636;
}

.cancelReservationButton:hover {
  background-color: #cfcfcf;
}

.reservedTag {
  font-size: 10px;
  font-weight: 700;
  background-color: #65bfcf;
  color: #fff;
  padding: 0.1rem 0.3rem;
  margin-right: 0.3rem;
  border-radius: 3px;
  line-height: 14px;
}
