.pageContainer {
  display: flex;
  padding: 1rem 0;
}

.missionsContainer,
.rocketsContainer {
  width: 50%;
  padding: 0 1rem;
}

.title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
